{% extends 'base1.html' %}
{% block content %}
<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Change Password</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Change Password</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Change Password!!</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    
            {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'error' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
               {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'success' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <label style="font-weight: bolder;">Current Password:</label>
                            <input id="password" type="password"  class="form-control" name="cpwd"  required="true">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label style="font-weight: bolder;">New Password:</label>
                            <input id="password" type="password" name="npwd" class="form-control" required="true">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
 
        </div>
    </div>
    {% endblock %}