{% extends 'base1.html' %}
{% block content %}
<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">User Profile</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">User Profile</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">User Profile!!</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    
            {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'error' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
               {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'success' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
                    <form method="POST" enctype="multipart/form-data" action="{% url 'user_profile_update' %}">
                        {% csrf_token %}
                        <div class="control-group">
                            <label style="font-weight: bolder;">Old Profile Pic:</label>
                           <img src="{{ru.admin.profile_pic.url}}" width="200" height="200">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label style="font-weight: bolder;">Profile Pic:</label>
                            <input type="file" class="form-control" id="profile_pic" name="profile_pic"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{ru.admin.id}}">
                        <div class="control-group">
                            <label style="font-weight: bolder;">First Name:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ru.admin.first_name}}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <label style="font-weight: bolder;">Last Name:</label>
                        <div class="control-group">
                            <input type="text" class="form-control" id="last_name" name="last_name"  value="{{ru.admin.last_name}}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <label style="font-weight: bolder;">Email:</label>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email"  value="{{ru.admin.email}}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <label style="font-weight: bolder;">Mobile Number:</label>
                        <div class="control-group">
                            <input type="text" class="form-control" id="mobilenumber" name="mobilenumber"  value="{{ru.mobilenumber}}" maxlength="10" pattern="[0-9]+"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <label style="font-weight: bolder;">Username:</label>
                        <div class="control-group">
                            <input type="text" class="form-control" id="username" name="username" value="{{ru.admin.username}}"  readonly="true"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <label style="font-weight: bolder;">Registration Date:</label>
                        <div class="control-group">
                            <input type="text" class="form-control" value="{{ru.joinigdate_at}}"
                                readonly="true"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
 
        </div>
    </div>
    {% endblock %}