{% extends 'base.html' %}
{% block content %}

<div class="row">

    <div class="col-lg-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Dispatch Order Details</h4>
          {% if messages %}
          {% for message in messages %}
           {% if message.tags == 'error' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
           </button>
            </div>
          {% endif %}
          {% endfor %}
          {% endif %}
             {% if messages %}
          {% for message in messages %}
           {% if message.tags == 'success' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
           </button>
            </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead><tr>
                <th>#</th>
                <th>Order ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Product</th>
                <th>Order Status</th>
                <th>Order Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% for i in paginated_orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.0.id }}</td>
                    <td>{{ i.0.reguser.admin.first_name }} {{ i.0.reguser.admin.last_name }}</td>
                    <td>{{ i.0.reguser.admin.email }}</td>
                    <td>{{ i.0.reguser.mobilenumber }}</td>
                    <td>
                        {% for item in i.0.items.all %}
                            {{ item.product.productname }} ({{ item.quantity }})<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item in i.0.items.all %}
                            {% if item.status %}
                                {{ item.status }}
                            {% else %}
                                Status not updated
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>{{ i.0.created_at }}</td>
                    <td>
                        <a href="{% url 'view_order_detail' i.0.id %}" class="btn btn-success">Details</a>
                      
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No new orders found.</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <br>
            <div class="pagination">
                <span class="step-links">
                    {% if paginated_orders.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ paginated_orders.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ paginated_orders.number }} of {{ paginated_orders.paginator.num_pages }}.
                    </span>
            
                    {% if paginated_orders.has_next %}
                        <a href="?page={{ paginated_orders.next_page_number }}">Next</a>
                        <a href="?page={{ paginated_orders.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}